*~
old/*
*.o*
*.e*
*.po*
*.pe*
*.xyz
*.dat*
*.png
*restart*
*.ascii
movie.avi
lmp_mpi
*.cubes
*quat
image*
lammps*
oldinput
*#
*.lammpstrj
*.avi
lmp_mpi
data.lj*
data.write
juelich/copy
Master/evap/*
Master/old/*

evap/rigid/old/truncated/equilibrateMix/cubes/64_512cubes_29_04-1312/data.cubes
juelich/mix/data.lj_eqil
juelich/mix/240_temp05_08-19_05-0901/data.lj_eqil
*jwvis*
*core*
