*~
density.profile
*.o*
*.e*
*.po*
*.pe*
*.xyz
*.dat*
*.png
*restart*
movie.avi
lmp_mpi
dump*
image*
log*
out*
lammps*
oldinput
*#
*.lammpstrj
*.avi
log.*
dump*
image*
out
lmp_mpi

evap/rigid/old/truncated/equilibrateMix/cubes/64_512cubes_29_04-1312/data.cubes
